cluster:
  "sbatch
    --partition={resources.partition}
    --cpus-per-task={threads}
    --mem={resources.mem_mb}
    --job-name=smk-{rule}
    --gres=gpu:{resources.gpu}
    --qos=1day
    --mail-type=END,FAIL,TIME_LIMIT,RUN
    --mail-user=laurent.guerard@unibas.ch
    --output=logs/%j" # you can update where the logs will be saved (absolute path, or relative to /.../sopa/workflow)
default-resources:
  - partition=scicore # Change this to the category you're using
  - mem_mb=512000 # Change this to the total amount of RAM you have
  - gpu=0 # If you have GPU, put this to 1
#  - qos=1day
restart-times: 0
max-jobs-per-second: 100
max-status-checks-per-second: 1
local-cores: 1
latency-wait: 60
jobs: 50
keep-going: True
rerun-incomplete: True
printshellcmds: True
scheduler: greedy
use-conda: True
