# For parameters details, see this commented example: https://github.com/gustaveroussy/sopa/blob/main/workflow/config/example_commented.yaml
conda_name: "sopa_env"

read:
  technology: merscope

patchify:
  patch_width_pixel: 6000
  patch_overlap_pixel: 150
  patch_width_microns: -1
  patch_overlap_microns: 0

segmentation:
  cellpose:
    diameter: 70
    channels: [ "DAPI" ]
    flow_threshold: 0.95
    cellprob_threshold: -5.5
    min_area: 500
    gpu: true

  proseg:
    # Use Cellpose boundaries as a prior for Proseg so Proseg runs after
    # Cellpose and uses its segmentation as input.
    prior_shapes_key: cellpose_boundaries
    # command_line_suffix: "--nthreads 128"

aggregate:
  aggregate_channels: true
  min_transcripts: 10 # [optional] cells whose transcript count is below that this threshold are filtered

# Comment this out if you want to use tangram -->

# annotation:
#   method: tangram
#   args:
#     sc_reference_path: "..."
#     cell_type_key: ct

explorer:
  ram_threshold_gb: 32
  pixel_size: 0.108
